* {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: 20px;
}

body {
  background-color: #598745;
}

main {
  background-color: #fff;
  width: 500px;
  margin: auto;
  padding: 10px;
  box-shadow: 3px 3px 3px black;
}